nav ul {
  align-items: center;
  background: var(--color-white);
  box-shadow: 0 0.3vw 1.5vw var(--color-shadow);
  display: flex;
  font-family: var(--font-text);
  justify-content: space-around;
  list-style: none;
  /* margin: 5vw 0 5vw 0; */
  white-space: nowrap;
  width: 100%;
}
nav li {
  /* flex: 1 1 0; */
  min-width: 0;
  text-align: center;
}
nav a {
  color: var(--color-1);
  display: block;
  font-size: 3vw;
  padding: 2vw;
  text-decoration: none;
}
