/* Font */

@font-face {
  font-family: Caveat;
  src: url("../font/Caveat-VariableFont_wght.ttf");
}
@font-face {
  font-family: ClashDisplay;
  src: url("../font/ClashDisplay-Light.ttf");
}
@font-face {
  font-family: DancingScript;
  src: url("../font/DancingScript-Variable.ttf");
}
@font-face {
  font-family: GreatVibes;
  src: url("../font/GreatVibes-Regular.ttf");
}
@font-face {
  font-family: PlayfairDisplay;
  src: url("../font/PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: Stardom;
  src: url("../font/Stardom-Regular.ttf");
}
@font-face {
  font-family: Switzer;
  src: url("../font/Switzer-Variable.ttf");
}

@font-face {
  font-family: Domine;
  src: url("../font/Domine-VariableFont_wght.ttf");
}

@font-face {
  font-family: Lexend;
  src: url("../font/Lexend-VariableFont_wght.ttf");
}

@font-face {
  font-family: Monsieur;
  src: url("../font/MonsieurLaDoulaise-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  src: url("../font/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: Bodoni;
  src: url("../font/BodoniModa_72pt-Regular.ttf");
}

@font-face {
  font-family: Corinthia;
  src: url("../font/Corinthia-Regular.ttf");
}

/* Constant */

:root {
  /* --color-1: #006263; */
  --color-1: #000000;
  --color-2: #fff8f0;
  --color-3: #8e8d8d;
  /* --color-2: #f6fffa; */
  --color-white: #fffcf8;
  /* --color-white: #fff8f0; */
  /* --shadow: rgba(0, 0, 0, 0.3); */
  --shadow: rgb(1, 47, 6);
  /* --font-head: "GreatVibes", "Verdana", serif; */
  --font-head: "Bodoni", "Verdana", serif;
  /* --font-text: "", "Verdana", serif; */
  --font-text: "PlayfairDisplay", "Verdana", serif;
}

/* Header */

header {
  background: url(../img/flowers.png) no-repeat;
  background-color: var(--color-2);
  background-position: top;
  background-size: contain;
  height: 125px;
  width: 100%;
}

/* Navigation */

.nav {
  background: var(--color-white);
  box-shadow: 0 2px 5px var(--shadow);
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 15px 0 15px 0;
  padding: 10px 0;
}
.nav a {
  color: var(--color-1);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* Footer */

#footer {
  background-color: var(--color-1);
  bottom: 0;
  color: var(--color-2);
  padding: 10px;
  position: static;
  width: 100%;
}

/* Body */

/* html,
body {
  height: 100%;
  margin: 0;
} */
body {
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  font-family: var(--font-text);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}
main {
  flex: 1;
}

/* Other */

#title2 {
  font-family: Corinthia;
  font-size: 80px;
}
#title {
  font-family: var(--font-head);
  font-size: 40px;
}
#subtitle {
  font-family: var(--font-head);
  font-size: 25px;
}
#countdown {
  font-family: var(--font-head);
  font-size: 25px;
  color: var(--color-1);
}

/* Section */

.section {
  /* font-family: var(--font-text); */
  /* font-size: 35px; */
  color: var(--color-1);
  /* text-align: center; */
}
