html {
  margin: 0 0 0 0;
  min-height: 100%;
  padding: 0 0 0 0;
  position: relative;
}

body {
  background-color: #ffffff;
  color: #000000;
  font-family: "Verdana";
  font-size: 13px;
  margin: 0 0 0 0;
  margin-bottom: 100px;
  padding: 0 0 0 0;
  text-align: justify;
  text-justify: inter-word;
}

footer {
  background-color: #292c2f;
  border-top: 5px solid #000000;
  bottom: 0;
  box-sizing: border-box;
  height: 100px;
  padding: 20px 30px 20px 30px;
  position: absolute;
  text-align: left;
  width: 100%;
}
