/* Font */

@font-face {
  font-family: other;
  src: url("../font/PoiretOne-Regular.ttf");
}
@font-face {
  font-family: rsvp;
  src: url("../font/Caveat-VariableFont_wght.ttf");
}
@font-face {
  font-family: subtitle;
  src: url("../font/Playfair_144pt_SemiExpanded-SemiBold.ttf");
}
@font-face {
  font-family: text;
  src: url("../font/TenorSans-Regular.ttf");
}
@font-face {
  font-family: title;
  src: url("../font/WindSong-Regular.ttf");
}

/* Constant */

:root {
  --color-1: #0a2906;
  --color-2: #fff8f0;
  --color-rsvp: #7e7e7e;
  --color-shadow: #0a2906b6;
  --color-white: #ffffff;
  --font-other: "other", "Verdana", serif;
  --font-rsvp: "rsvp", "Verdana", serif;
  --font-subtitle: "subtitle", "Verdana", serif;
  --font-text: "Verdana", serif;
  --font-title: "title", "Verdana", serif;
}

/* Header */

header {
  background: url(../img/flowers.png) no-repeat;
  background-color: var(--color-2);
  background-position: top;
  background-size: contain;
  height: 110px;
  width: 100%;
  color: var(--color-1);
}

/* Navigation */

.nav {
  background: var(--color-white);
  box-shadow: 0 2px 5px var(--color-shadow);
  display: flex;
  font-family: var(--font-text);
  gap: 60px;
  justify-content: center;
  margin: 15px 0 15px 0;
  padding: 10px 0;
}
.nav a {
  color: var(--color-1);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* Body */

/* html,
body {
  height: 100%;
  margin: 0;
} */
html {
  margin: 0 0 0 0;
  min-height: 100%;
  padding: 0 0 0 0;
  position: relative;
}
body {
  background-color: var(--color-2);
  display: flex;
  flex-direction: column;
  font-family: var(--font-text);
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-align: center;
}
main {
  flex: 1;
}

/* Other */

#title {
  font-family: var(--font-title);
  font-size: 30px;
  color: var(--color-1);
}
#ampersand {
  font-family: var(--font-title);
  font-size: 40px;
  color: var(--color-1);
}
#subtitle {
  font-family: var(--font-subtitle);
  font-size: 40px;
  color: var(--color-1);
}
#date {
  font-family: var(--font-other);
  font-size: 20px;
}
#countdown {
  font-family: var(--font-other);
  font-size: 20px;
  color: var(--color-1);
  margin: 10px 0 0 0;
}

/* Section */

/* .section {
  font-family: var(--font-text);
  font-size: 35px;
  color: var(--color-1);
  text-align: center;
} */

/* Footer */

#footer {
  background-color: var(--color-1);
  bottom: 0;
  color: var(--color-2);
  font-family: var(--font-other);
  font-size: 13px;
  margin: 20px 0 0 0;
  padding: 10px;
  position: static;
  width: 100%;
}
